$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e5;
$gray-400: rgb(174, 178, 182);
$gray-500: rgb(136, 141, 146);
$gray-600: rgb(80, 87, 92);
$gray-700: rgb(66, 28, 62);
$gray-800: rgb(48, 32, 44);
$gray-900: rgb(13, 12, 14);
$pink: #ae3a76;
$primary: $pink;
$purple: #8a60a1;
$secondary: $purple;
$teal: #6cc199;
$body-bg: $gray-900;
$body-color: $white;
$link-color: $primary;
$spacer: 0.9rem;
$success: $teal;
$enable-hover-media-query: true;
$enable-responsive-font-sizes: true;
$enable-gradients: true;
$enable-shadows: true;
$border-color: $gray-100;
$input-bg: $gray-900;
$input-border-color: $gray-200;
$input-color: $gray-200;
$component-active-color: $gray-100;
$pagination-hover-bg: $gray-100;
$nav-tabs-link-active-color: $teal;
$nav-link-disabled-color: $gray-500;
$nav-tabs-border-color: $teal;
$nav-tabs-link-active-border-color: $teal $teal $teal;
$dropdown-bg: darken($secondary, 50);
$dropdown-color: $white;
$dropdown-border-color: $teal;
$dropdown-link-color: $white;
$pagination-bg: $gray-900;
$pagination-color: lighten($link-color, 30);
$pagination-border-color: $teal;
$pagination-hover-border-color: $gray-600;
$pagination-disabled-color: $gray-200;
$pagination-disabled-bg: $gray-700;
$card-bg: $gray-700;
$jumbotron-bg: $gray-700;
$popover-bg: $gray-700;
$list-group-bg: $gray-700;
$input-disabled-bg: $gray-600;
$custom-select-disabled-bg: $teal;
$progress-bg: $gray-500;
$modal-content-bg: $gray-600;
$input-group-addon-bg: $secondary;
$breadcrumb-bg: darken($teal, 20);
$breadcrumb-divider-color: $gray-100;
$breadcrumb-active-color: $gray-100;
$table-bg-level: 2.5;

