{% import "pd_includes/profdev_macros.html" as pm %}
<div class="card">
    <div class="card-header">
        <h2>Noteworthy adventures</h2>
    </div>
    <div class="card-body">
        <nav>
            <ul class="nav nav-tabs nav-fill" id="nav-tab-adv" role="tablist">
                {{ pm::navbutton(
                    content="Job Hunting",
                    prefix="adv",
                    num=1,
                    is_active=true,
                ) }} 

                {{ pm::navbutton(
                    content="Beheer",
                    prefix="adv",
                    num=2,
                ) }} 
                {{ pm::navbutton(
                    content="Dutch Business Days",
                    prefix="adv",
                    num=3,
                ) }}
            </ul>
        </nav>
        <div class="tab-content">
            {{pm::navtab_start(prefix="adv",num=1,is_active=True)}}
            Content 1
            {{pm::navtab_finish()}}
            {{pm::navtab_start(prefix="adv",num=2)}}
            Content 2
            {{pm::navtab_finish()}}
            {{pm::navtab_start(prefix="adv",num=3)}}
            Content 3
            {{pm::navtab_finish()}}
        </div>
    </div>
</div>
