<div style="margin-bottom: 0%; padding: 0%;">    
    <style>
	/*Override to accomodate for the footer being less wide than the screen (TODO: check if this necessary with the new dynamic system)*/
	.FlexRow{
	  flex-direction:  row;	
	}
	@media screen and (max-width:700px){
	 .FlexRow {
	    flex-direction: column;
	    flex-wrap: wrap;
      }
	}
	</style>
    <footer id="bottomfoot" class="FlexRow">
        <div><!--Spacer --></div>
        <div><a class="f-button" target="_blank" href="https://www.instagram.com/wilkuu_x/"><i class="fa-brands fa-instagram logo"></i><span>@wilkuu_x</a></span></div>
        <div><a class="f-button" target="_blank" href="https://www.discord.com"><i class="fa-brands fa-discord logo"></i><span>Wilkuu#6362</span></a></div>
        <div><!--Spacer --></div>
    </footer>
</div>
