{% extends "main.html" %}
{% block title %}
Wilkuu.xyz: Home Page
{% endblock title %}
{% block body %}
<div id="aboutMe" class="card border color-primary-1">
    <div class="card-header">
        <h2>Hello, my name is Jakub.</h2>
    </div>
    <div class="card-body row justify-content-around">
        <section class="col-lg-6">
            <p>
                I'm a First year student at the University of Twente. I began studying Creative Technology in 2021, and so far everything goes smoothly.<br>
                Originally I come from Poland, but I lived in the Hague for 10 years so I know Dutch as well. <br>
                My talents are in programming and drawing. And I am planning to expand on both in the coming months <br>
                I also like caring for <abbr title="At the moment i have 5 pots, but that number will probably increase">plants</abbr> and cook for myself and others.<br><br>
            </p>
            <h3>Here is some more info on me:</h3>
            <table class="table-dark w-100">
                <tr><th scope="row">Age</th>								<td>19</td></tr>
                <tr><th scope="row">Birthday</th>							<td>10th of August</td></tr>
                <tr><th scope="row">Languages</th>							<td>Polish, Dutch, English</td></tr>
                <tr><th scope="row">Zodiac sign</th>						<td>Leo</td></tr>
                <tr><th scope="row">Cats or Dogs</th>						<td>Cats</td></tr>
            </table>
        </section>
        <section class="col-lg-4">
            <img class="w-100" src="/img/portrait.jpg" alt="This should be me :-[">
        </section>
    </div>
</div>
{% endblock body %}
