{% extends "main.html" %}
{% block title %}
Internet Technology summary
{% endblock title %}
{% block headextra %}


{% endblock headextra %}

{% block body %}
<div id="mian" class="card border color-primary-1">
    <div class="card-header">
        <h2>Inttech summary</h2>
    </div>
    <div class="card-body row mx-3 justify-content-around">
        <div class="col-lg">
            <h3>About</h3>
            <p>
                On this page you will find the summary for inttech. 
                I made this page since the text is 2 days from now, so I will release partial summaries for people to start studying already
            </p>

            <h3>Status</h3>
            <h6>Incomplete: 2/6 weeks</h6>

            <h3>Links:</h3>
            <a href="/docs/inttechV0_1.pdf" >First draft (Week 1 and 2)</a>
        </div>
    </div>
</div>
{% endblock body %}
