    <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
        <div class="ml-10 navbar-collapse p-10">
            <div class="navbar-brand justify-content-center">
                Wilkuu's Official Site
            </div>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li>
                    <a class="nav-link" href="/" ><i style="padding: 0 10px 0 10px" class="fa-solid fa-house icon"></i>Home</a>
                </li>
                <li>
                    <a class="nav-link" href="/portfolio">Personal portfolio</a>
                </li>
            </ul>
        </div>
    </nav>
