<div style="margin-bottom: 0%; padding: 0%;">
    <style>
        #navbuttons {
            display: flex;
            flex-direction: row;
            background-color: var(--color-secondary-1-1);
        }
        #navbuttons > a:hover{
            background-color: var(--color-secondary-1-0);
        }
        #navbuttons > a{
            margin:0px;
            color: #C7F6E2;
            padding:12px;
            margin-bottom: 3px;
            background-color: var(--color-secondary-1-1);
           }
        #topnav > span, nav > p{
            margin-top: 0px;
            background-color: var(--color-secondary-1-0);
            font-weight: 700;
            font-size: 21px;
        }
        #topnav > *{
            margin: 0px;
        }
           .icon {
            font-size: 1.2em;
        }
    </style>
    <nav id="topnav" style="margin: 0px; padding: 0px;">
        <p>Jakub's Website</p>
        <div id="navbuttons">
            <a href="/" ><i style="padding: 0 10px 0 10px" class="fa-solid fa-house icon"></i></a>
            <div class="bloat"></div>
            <a href="/portfolio">Stuff I Made</a>
        </div>
    </nav>
</div>
